*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Variable
$primary_color: #101010 !important;
$secondary_color: #fff !important;
$color_hover : red !important;
header{
    nav{
        background-color: $primary_color;
        .navbar-brand{
            color: $secondary_color;
            font-size: 30px ;
        }
        .nav-link{
            color: $secondary_color;
            font-size: 20px;
            transition: all 0.5s;
        }
        .nav-link:hover{
            color: $color_hover;
        }
        input:focus{
            outline: 1px solid $color_hover;
        }
        .form-control:focus{
            outline: none !important;
            border: none !important;
            box-shadow:rgba(13, 110, 253, 0.25) 0px 0px 0px 0rem;
        }
        .btn{
            background-color: $primary_color;
            border: 1px solid $secondary_color;
            color: $secondary_color;
            transition: all 0.5s;
        }
        .btn:hover{
            background-color: $secondary_color;
            color: $primary_color;
        }
        .navbar-toggler {
            background-color: $secondary_color;
        }
    }

}
.banner{
    height: 60vh;
    img{
        height: 75vh;
        object-fit: cover;
    }
}
