<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/css/register.css" />
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#">SHOES SHOP</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 mb-2 mb-lg-0 gap-3">
              <li class="nav-item"></li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../../index.html"
                  >HOME PAGE</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <h2>Register</h2>
        <div class="form_input">
          <form onsubmit="addUser()">
            <div class="row">
              <div class="mb-3 col-6">
                <label for="" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  name=""
                  id="email"
                  aria-describedby="helpId"
                  placeholder=""
                />
                <small id="smallEmail" class="form-text"></small>
              </div>
              <div class="mb-3 col-6">
                <label for="" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name=""
                  id="name"
                  aria-describedby="helpId"
                  placeholder=""
                />
                <small id="smallName" class="form-text"></small>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-6">
                <label for="" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name=""
                  id="password"
                  aria-describedby="helpId"
                  placeholder=""
                />
                <small id="smallPass" class="form-text"></small>
              </div>
              <div class="mb-3 col-6">
                <label for="" class="form-label">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  name=""
                  id="phone"
                  aria-describedby="helpId"
                  placeholder=""
                />
                <small id="smallPhone" class="form-text"></small>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-6">
                <label for="" class="form-label">Password confirm</label>
                <input
                  type="password"
                  class="form-control"
                  name=""
                  id="passConfirm"
                  aria-describedby="helpId"
                  placeholder=""
                />
                <small
                  id="smallPassConfirm"
                  class="form-text"></small>
              </div>
              <div class="mb-3 col-2 row">
                <label for="" class="form-label">Gender</label>
                <select class="form-select ms-2" name="" id="gender">
                  <option selected value="true">Male</option>
                  <option value="false">Female</option> 
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-10"></div>
              <button class="btn btn-dark col-2" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <!-- TOAST -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="me-auto">Thông báo</strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body bg-black bg-opacity-75 text-light"></div>
      </div>
    </div>
    <!-- FOOTER -->
    <footer>
      <p class="copyright">© 2023. All rights reserved.</p>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../controller/validation.js"></script>
    <script src="../model/Register.js"></script>
    <script src="../controller/register.js"></script>
  </body>
</html>
